<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To-do List</title>
    <link rel="stylesheet" type="text/css" href="<%=htmlWebpackPlugin.files.chunks.main.css %>" />
</head>
<body>

<table id="Days">
    <tr>
        <td>Monday
            <form class="myForm" data-number="1">
                <input class="textInput" placeholder="What you wanna do today?"/>
                <input class="addButton" type="button" value="Add" data-number="1" />
            </form><br>
            <ul class="toDoList" data-number="1"></ul>
        </td>
        <td>Tuesday
            <form class="myForm" data-number="2">

                <input class="textInput" placeholder="What you wanna do today?"/>
                <input class="addButton" type="button" value="Add" data-number="2"/>
            </form><br>
            <ul class="toDoList" data-number="2"></ul>
        </td>
    </tr>
    <tr>
        <td>Wednesday
            <form class="myForm" data-number="3">

                <input class="textInput" placeholder="What you wanna do today?"/>
                <input class="addButton" type="button" value="Add" data-number="3" />
            </form><br>
            <ul class="toDoList" data-number="3"></ul>
        </td>
        <td>Thursday
            <form class="myForm" data-number="4">
                <input class="textInput" placeholder="What you wanna do today?"/>
                <input class="addButton" type="button" value="Add" data-number="4"/>
            </form><br>
            <ul class="toDoList" data-number="4"></ul>
        </td>
    </tr>
    <tr>
        <td>Friday
            <form class="myForm" data-number="5">
                <input class="textInput" placeholder="What you wanna do today?"/>
                <input class="addButton" type="button" value="Add" data-number="5"/>
            </form><br>
            <ul class="toDoList" data-number="5"></ul>
        </td>
        <td>Saturday
            <form class="myForm" data-number="6">

                <input class="textInput" placeholder="What you wanna do today?"/>
                <input class="addButton" type="button" value="Add" data-number="6"/>
            </form><br>
            <ul class="toDoList" data-number="6"></ul>
        </td>
    </tr>
    <tr>
        <td>Sunday
            <form class="myForm" data-number="7">
                <input class="textInput" placeholder="What you wanna do today?"/>
                <input class="addButton" type="button" value="Add" data-number="7"/>
            </form><br>
            <ul class="toDoList" data-number="7"></ul>
            </td>
        <td>
            <button class="tip_button" type="button">Get a tip</button>
        </td>
    </tr>
    <div id="tip1"  class="tip_body show hide">
        <div id="tip" class="tip">
            <button class="close_button" type="button">Close</button>
        </div>
    </div>

</table>



<script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>

</body>
</html>