html,
body {
  height: 100%;
}
table#Days {
  border-collapse: collapse;
}
table#Days tr {
  height: 25vh;
}
table#Days tr td {
  background: #d8dbe0;
  position: relative;
  width: 50vw;
  border: 2px solid silver;
  font-size: 25px;
  vertical-align: top;
  letter-spacing: 4px;
}
table#Days tr td .myForm {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 10px;
}
table#Days tr td .myForm .textInput {
  box-sizing: border-box;
  padding: 3px 13px;
  border: none;
  border-radius: 5px;
}
table#Days tr td .myForm .addButton {
  box-sizing: border-box;
  padding: 5px 15px;
  background: #ffffbd;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
table#Days tr td .myForm .addButton:hover {
  background: #f7f7c5;
}
table#Days tr td li {
  font-size: 16px;
  list-style-type: none;
}
table#Days tr td li .container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
  cursor: pointer;
}
table#Days tr td li .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
table#Days tr td li .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
table#Days tr td li .TodoText {
  margin-left: 5px;
}
table#Days tr td li .container:hover input ~ .checkmark {
  background-color: #ccc;
}
table#Days tr td li .container input:checked ~ .checkmark {
  background-color: burlywood;
}
table#Days tr td li .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
table#Days tr td li .container input:checked ~ .checkmark:after {
  display: block;
}
table#Days tr td li .container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
table#Days tr td:hover {
  background: #dcdcdc;
}
table#Days tr .tip_button {
  position: absolute;
  left: 9px;
  top: 5px;
  border-radius: 5px;
  background: burlywood;
  border: none;
  cursor: pointer;
  font-size: 16px;
  box-sizing: border-box;
  padding: 3px 13px;
}
div#tip1.tip_body.show {
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  background: rgba(198, 198, 198, 0.8);
  z-index: 1;
}
div#tip.tip {
  display: flex;
  height: 500px;
  width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid silver;
  background: #dcdcdc;
  z-index: 1;
  font-size: 16px;
}
div#tip.tip button {
  position: absolute;
  border-radius: 5px;
  top: 5px;
  right: 5px;
  padding: 4px;
  background: #ff6829;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
div#tip.tip button:hover {
  background: #e47344;
}
div#tip1.tip_body.hide {
  display: none;
}
.done {
  text-decoration: line-through;
}
.DoneCheckbox,
.TodoText {
  margin: auto;
}
/*# sourceMappingURL=style.css.map */