@height: 25vh;
@width: 50vw;
@height-checkbox: 25px;
@width-checkbox: 25px;
@border: 2px solid silver;
@font-size: 25px;
@letter-spacing: 4px;
@border-button: none;
@cursor: pointer;
@bg: #d8dbe0;
@border-radius: 5px;
@bg-color-close: #ff6829;
@bg-color-add: rgb(255, 255, 189);

html, body { height: 25% * 4; }

table#Days {
  border-collapse: collapse;

  tr {
    height: @height;

    td {
      background: @bg;
      position: relative;
      width: @width;
      border: @border;
      font-size: @font-size;
      vertical-align: top;
      letter-spacing: @letter-spacing;
      .myForm {
        position: absolute;
        right: 0;
        top: 0;
        margin-right: 10px;
        .textInput{
          box-sizing: border-box;
          padding: 3px 13px;
          border: none;
          border-radius: @border-radius;
        }
        .addButton{
          box-sizing: border-box;
          padding: 5px 15px;
          background: @bg-color-add;
          border: none;
          cursor: pointer;
          border-radius: @border-radius;
          &:hover {
            background: desaturate(@bg-color-add, 25%);
          }
        }
      }
      li {
        font-size: @font-size - 9px;
        list-style-type: none;
        .container {
          display: block;
          position: relative;
          padding-left: 30px;
          margin-bottom: 10px;
          cursor: pointer;
          input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
          }
        }
        .checkmark {
          position: absolute;
          top: 0;
          left: 0;
          height: @height-checkbox;
          width: @width-checkbox;
          background-color: #eee;
        }
        .TodoText {
          margin-left: 5px;
        }

        .container:hover input ~ .checkmark {
          background-color: #ccc;
        }

        .container input:checked ~ .checkmark {
          background-color: burlywood;
        }

        .checkmark:after {
          content: "";
          position: absolute;
          display: none;
        }
        .container input:checked ~ .checkmark:after {
          display: block;
        }
        .container .checkmark:after {
          left: 9px;
          top: 5px;
          width: 5px;
          height: 10px;
          border: solid white;
          border-width: 0 3px 3px 0;
          transform: rotate(45deg);
        }
      }
      &:hover {
        background: desaturate(@bg, 25%);
      }
    }
    .tip_button {
      position: absolute;
      left: 9px;
      top: 5px;
      border-radius:  @border-radius;
      background: burlywood;
      border: none;
      cursor: pointer;
      font-size: @font-size - 9px;
      box-sizing: border-box;
      padding: 3px 13px;
    }
  }

}

div#tip1.tip_body.show {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(198, 198, 198, 0.8);
    z-index: 1;
  }


div#tip.tip {
  display: flex;
  height: 500px;
  width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid silver;
  background: desaturate(@bg, 15%);
  z-index: 1;
  font-size: @font-size - 9px;
  button {
    position: absolute;
    border-radius:  @border-radius;
    top: 5px;
    right: 5px;
    padding: 4px;
    background: @bg-color-close;
    border: none;
    cursor: pointer;
    font-size: @font-size - 9px;
    &:hover {
      background: desaturate(@bg-color-close, 25%);
    }
  }

}
div#tip1.tip_body.hide {
  display: none;
}

.done{
  text-decoration: line-through;
}



.DoneCheckbox,
.TodoText{
  margin: auto;
}

